@media only screen and (max-width : 480px) {
	/*
	=====================================
	INDEX PAGE
	=====================================
	*/
	h1{
		font-size: 30px !important;
	}
	h2{
		font-size: 26px !important;
	}
	.jumbo-box-left{
		width: 90% !important;
		text-align: left !important;
		height: auto !important;
		text-align: center !important;
	}
	.jumbotron-social > .jumbo-box-left > i{
		font-size: 30px !important;
	}
	.jumbo-box-right{
		float: left !important;
		width: 100% !important;
		text-align: left !important;
	}
	#login-form{
		display: none !important;
	}

	.jumbotron-counters{
		height: 500px !important;
		display: none !important;
	}
	.jumbotron-counters > .counter-box{
		width: 90% !important;
		display: block;
	}
	.jumbotron-comps{
		height: 500px !important;
	}

	.jumbotron-social{
		height: 500px !important;
	}

	.jumbotron-feedback{
		height: auto !important;
	}

	.jumbotron-feedback > .page{
		width: 100% !important;
	}

	.index-footer{
		position: relative;
		width: 80%;
		min-height: 300px !important;
	}
	.index-footer > .column{
		display: block !important;
	}

	.index-footer > .column-right{
		width:200px !important;
		vertical-align: top !important;
		display: block !important;
		padding-right: 30px !important;
		float: left !important;
		text-align: left !important;
	}
	/*
	=====================================
	REGULAR ONES
	=====================================
	*/
	#msg{
		display: none !important;
	}
	.comp-table > .game{
		width: 70% !important;
	}
	.comp-table > .assigned{
		display: none !important;
	}

	.comp-table > .dates{
		display: none !important;
	}
	.comp-table > .profits{
		display: none !important;
	}

	/*SEARCH BARS*/
	.comp-search-bar .column{
		margin-top: 30px !important;
		display: block !important;
	}
	#paid{
		display: none !important;
	}

	.fragment-left{
		top: 70px !important;
		left: 0 !important;
		right: 0 !important;
		border: none !important;
	}
	.fragment-right{
		display: none !important;
	}
	.fragment-social-parent{
		display: none !important;
	}

	.playButton{
		display: none;
	}

	.nav-bar{
		display: none !important;
	}

	.responsive-menu{
		display: block !important;
	}
}
@media only screen and (max-width : 800px) {
	/*
	=====================================
	REGULAR ONES
	=====================================
	*/
	#msg{
		display: none !important;
	}
	.comp-table > .game{
		width: 70% !important;
	}
	.comp-table > .assigned{
		display: none !important;
	}

	.comp-table > .dates{
		display: none !important;
	}
	.comp-table > .profits{
		display: none !important;
	}

	/*SEARCH BARS*/
	.comp-search-bar .column{
		margin-top: 30px !important;
		display: block !important;
	}

	#paid{
		display: none !important;
	}

	.fragment-left{
		width: 85% !important;
		left: 100px;
	}
	.fragment-right{
		display: none !important;
	}
	.fragment-social-parent{
		display: none !important;
	}

	.game-tab-image{
		width: 200px !important;
		margin-left: 20px !important;
	}

	.playButton{
		display: none;
	}
}
@media only screen and (max-width : 1024px) {

}